@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">PayMe</h1>
        <div class="text-center">
            <img src="~/img/cafe.jpg" alt="cafe" />
        </div>
    </div>
