@model CC2020.Models.Timesheet
@{
    var title = ViewData["Title"] = "Timesheet";
}

<h1>@title Submission Form</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">

                <input type="hidden" asp-for="EmployeeID" />

                <label asp-for="Company" class="control-label"></label>
                <select id="CompanyABN" name="CompanyABN">
                    @foreach (var payAgreement in ViewBag.AllPayAgreements)
                    {
                        <option value="@payAgreement.Company.ABN">@payAgreement.Company.CompanyName</option>
                    }
                </select>
                <span asp-validation-for="CompanyABN" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Break" class="control-label"></label>
                <select id="Break" name="Break">
                    @foreach (var breakTime in ViewBag.BreakTimes)
                    {
                        <option value="@breakTime">@breakTime</option>
                    }
                </select>
                <span asp-validation-for="Break" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Submit Timesheet" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>